keras==2.6.0
tensorflow==2.6.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.6.0
tensorflow-io-gcs-filesystem==0.22.0
opencv-python-headless==4.8.0.76
Pillow==8.3.2
numpy==1.19.5
streamlit==1.0.0
